.navMenu {
  position: sticky;
  top: 0;
  left: 0;
  height: var(--nav-menu-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background-color: white;
  font-size: 2rem;
  font-weight: 200;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  text-wrap: nowrap;
}

.navLinkIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  list-style: none;
  padding: 0;
}

.iconLink {
  --size: 48px;
  display: grid;
  place-content: center;
  width: var(--size);
  height: var(--size);
  padding: calc(var(--size) / 4);
  border-radius: calc(var(--size) / 2);
  color: var(--color-text-black);
  background-color: var(--color-button-highlight-inactive-secondary);
  transition: var(--transition-button-highligt);
}

.iconLink:hover {
  background-color: var(--color-button-highlight-active-secondary);
}

@media screen and (max-width: 650px) {
  .navLinks {
    display: none;
  }
}
