:root {
  --color-primary: hsl(247, 37%, 45%);
  --color-secondary: hsl(173, 58%, 39%);
  --color-secondary-shadow: hsla(173, 58%, 39%, 0.75);
  --color-black: hsl(340, 43%, 4%);
  --color-text-white: white;
}
