:root {
  --color-primary: hsl(247deg, 37%, 45%);
  --color-secondary: hsl(173deg, 58%, 39%);
  --color-secondary-shadow: hsla(173deg, 58%, 39%, 0.75);
  --color-tertiary: hsl(333deg, 21%, 92%);
  --color-black: hsl(340deg, 43%, 4%);
  --color-separator: hsl(0, 0%, 50%);
  --color-text-black: black;
  --color-text-white: white;
  --color-background-white: white;
  --color-text-selection: hsl(247deg, 37%, 45%, 0.8);
  --color-link-highlight: hsla(173deg, 58%, 39%, 0.75);
  --color-button-highlight-inactive-primary: hsla(247deg, 37%, 45%, 0);
  --color-button-highlight-active-primary: hsla(247deg, 37%, 45%, 0.5);
  --color-button-highlight-inactive-secondary: hsla(173deg, 58%, 39%, 0);
  --color-button-highlight-active-secondary: hsla(173deg, 58%, 39%, 0.5);
  --transition-button-highligt: background-color 0.25s ease-in;
  --nav-menu-height: 64px;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

*::selection {
  color: var(--color-text-white);
  background-color: var(--color-text-selection);
}
