<section class="container">
    <div class="row">
        <div class="col-md-6 order-md-first order-last">
            <img src="img/me.jpg" class="py-md-4 py-sm-2 mx-auto d-block mw-100" width="300" alt="Me" />
        </div>
        <div class="col-md-6 order-md-last order-first">
            <h1 class="display-1 py-md-4 py-sm-2">Hi, I'm Tolik Pylypchuk</h1>
            <p>
                and this is my portfolio website.
            </p>
        </div>
    </div>
</section>
