<div class="d-flex flex-column min-vh-100">
    <aside class="sticky-top p-2 bg-primary text-white text-center">
        This site is under construction, so hang tight for updates!
    </aside>

    <main class="container flex-fill">
        <About />
        <BasicInfo />
        <Technologies />
    </main>

    <Footer />
</div>
