<div class="sticky-top p-2 bg-primary text-white text-center">
    This site is under construction, so hang tight for updates!
</div>

<section class="container">
    <div class="row">
        <div class="col-md-6 order-md-first order-last justify-content-center">
            <p class="py-md-4 py-sm-2">(Going to put a nice picture here)</p>
        </div>
        <div class="col-md-6 order-md-last order-first">
            <h1 class="display-1 py-md-4 py-sm-2">Hi, I'm Tolik Pylypchuk</h1>
            <p>
                and this is my portfolio website.
            </p>
        </div>
    </div>
</section>

<footer class="footer p-2 fixed-bottom">
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</footer>
