<div class="sticky-top p-2 bg-primary text-white text-center">
    This site is under construction, so hang tight for updates!
</div>

<div class="p-2">
    <h1>Tolik Pylypchuk</h1>

    <p>
        Hi, I'm Tolik Pylypchuk and this will be my personal portfolio website.
    </p>
</div>
