<section class="row justify-content-center">
    <div class="col-md-3 m-2 m-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Who I am</h5>
                <p class="card-text">
                    A guy from Lviv, Ukraine who loves programming.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 m-2 m-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">What I do</h5>
                <p class="card-text">
                    Mostly back-end web development, and a little front-end and desktop.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 m-2 m-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Why I do it</h5>
                <p class="card-text">
                    Just for the fun of it, obviously.
                </p>
            </div>
        </div>
    </div>
</section>
