<footer class="footer mt-auto p-2 p-md-4 bg-dark text-light">
    <div class="row justify-content-between">
        <div class="col-md-6">
            Powered by <a href="https://blazor.net" title="Blazor">Blazor</a> and
            <a href="https://pages.github.com" title="GitHub Pages">Github Pages</a>.
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.
        </div>
        <div class="col-md-6 text-md-right">
            &copy; 2020 Anatoliy Pylypchuk
        </div>
    </div>
</footer>
