<footer class="footer mt-auto p-2 p-md-4 bg-dark text-light">
    <div class="row justify-content-between d-flex h-100">
        <div class="col-md-6 align-self-center">
            Powered by <a href="https://blazor.net" title="Blazor" target="_blank">Blazor</a> and
            <a href="https://pages.github.com" title="GitHub Pages" target="_blank">Github Pages</a>.

            Favicon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
        <div class="col-md-6 text-md-end align-self-center">
            &copy; 2020 Anatoliy Pylypchuk
        </div>
    </div>
</footer>
