@foreach (var technologies in this.Technologies.Buffer(3))
{
    <div class="row justify-content-center">
        @foreach (var technology in technologies)
        {
            <div class="col-md-3 text-center m-2 m-md-4">
                <div class="card">
                    @if (!String.IsNullOrEmpty(technology.IconLink))
                    {
                        <div class="d-flex flex-row justify-content-center h-100">
                            <div class="align-self-center">
                                <img src="img/logos/@technology.IconLink" alt="@technology.Name" height="35"
                                     class="me-2 my-4" />
                            </div>
                            <div class="align-self-center">
                                <h5 class="ms-2 my-4">@technology.Name</h5>
                            </div>
                        </div>
                    } else
                    {
                        <h5 class="m-4">@technology.Name</h5>
                    }
                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public IEnumerable<Technology> Technologies { get; set; } = Enumerable.Empty<Technology>();
}
