<section>
    <h3 class="text-center">Technologies I Work With</h3>

    <TechnologyGrid Technologies="this.MainTechnologies" />

    <h3 class="text-center">Technologies With Which I Have Minor Experience</h3>

    <TechnologyGrid Technologies="this.AdditionalTechnologies" />
</section>

@code {
    private List<Technology> MainTechnologies { get; } = new()
    {
        new("C#", "", "c-sharp.svg"),
        new("Java", "", "java.svg")
    };

    private List<Technology> AdditionalTechnologies { get; } = new()
    {
        new("F#", "", "f-sharp.svg"),
        new("C++", "", "c-plus-plus.svg"),
        new("Angular", "", "angular.svg"),
        new("Python", "", "python.svg"),
        new("Scala", "", "scala.svg"),
        new("Haskell", "", "haskell.svg"),
    };
}
